@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;600;700&display=swap');

@layer base {
  body {
    @apply bg-gallery-white text-gallery-dark font-sans antialiased;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-sans;
  }
}
